.card-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }

.card {
  width: 300px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  margin-bottom: 10px;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.btn-group {
  margin-top: 10px;
  text-align: right;
}
